body {
  font-family: Arial, sans-serif;
  background: #1f11;
  height: 100vh;
  //display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: px;
  /*margin-right: -300px;*/
}

.field {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

input {
  flex: 1;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
}

button {
  padding: 5px 10px;
  border: 2px solid #0056b3;
  border-radius: 6px;
  background: #233;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background: #0056b3;
}

h1 {
  font-family: Arial;
  color: #0056b3;
  text-align: center;
  display: flex;
  //padding: 20px;
  border: 1px solid #1105;
  border-radius: 6px;
  font-size: 60px;
  
} 


#printButton {
  background: green;
  border: none;
  align-content: center;
  padding: 10px 20px;
  box-shadow: black;
  font-family: Times New Roman, san-serif;
  color: white;
  margin-top: 30px;
  border-radius: 7px;
}
#printButton:hover{
  background-color: #209;
}
